/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=IBM+Plex+Sans:wght@100;400&family=Roboto+Condensed&family=Roboto:wght@300&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

body {
    display: flex;
    background-color: rgb(194, 214, 231);
    background-color: rgb(61, 63, 64);
    /* background-image: linear-gradient( rgb(112, 159, 200),rgb(216, 170, 248)); */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {

    width: 300px;
    height: 400px;
    position: relative;
    background-color: white;
    transform-style: preserve-3d;
    transform: perspective(1500px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

}
.card .img-box{
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: #fff;
    transition: 1s;
}
.card .img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card:hover .img-box{
    transform: rotateY(-150deg);
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   z-index: -1;
}

.card .details .content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .details .content h3 {
    text-align: center;
    font-size: 20px;
}

.card .details .content h3 span {
    color: rgb(129, 52, 197);
}

.card .details .content .icons {
    display: flex;
    margin-top: 15px;
    
}
.card .details .content .icons a{
    background-color: rgb(61, 63, 64);
    margin:4px ;
   border-radius: 50%;
   padding: 5px;
    width: 30px;
    height: 30px;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    opacity: 0.7;
}
.card .details .content .icons a:hover{
    color: rgb(129, 52, 197);   
    background-color: #fff;
    transform: rotate(360deg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    opacity: 1;
      
}
